/*.draggable-button {
    width: 130px;
    height: 50px;
    /*border: 1px solid #000; *//* Puedes personalizar el borde según tus necesidades */
   /* display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}*/


.button-icon {
    width: 80px; /* Ajusta el tamaño del ícono según tus necesidades */
    height: 40px; /* Ajusta el tamaño del ícono según tus necesidades */
    margin-top: 5px; /* Espacio entre la imagen y el texto */
}

.button-text {
    margin-top: 5px;
}

#component, #contentParent, #caract, #content {
    overflow-y: auto; /* Habilita el scroll vertical */
    max-height: 800px !important;
    min-height: 300px;
}

.activonumber{
 background-color: red;
}

.depositonumber{
    background-color: blue;
}

.activotext{
 background-color: red;
}

.depositotext{
    background-color: blue;
}

.hidden-content{
    display: none;
}