
.button-icon {
    width: 80px; /* Ajusta el tamaño del ícono según tus necesidades */
    height: 40px; /* Ajusta el tamaño del ícono según tus necesidades */
    margin-top: 5px; /* Espacio entre la imagen y el texto */
}

.button-text {
    margin-top: 5px;
}

#component, #caract {
    overflow-y: auto; /* Habilita el scroll vertical */
    max-height: 300px !important;
    min-height: 300px;
}

#form_content_template{
    overflow-y: auto;
    max-height: 240px !important;
    min-height: 240px !important;
}

.activonumber{
 background-color: red;
}

.depositonumber{
    background-color: blue;
}

.activotext{
 background-color: red;
}

.depositotext{
    background-color: blue;
}

.hidden-content{
    display: none;
}

.template {
    margin-bottom: 10px !important; /* Ajusta el valor según el espacio que desees entre los templates */
}


/* Estilos para los botones de editar y eliminar */
.button-container {
    display: flex;
    gap: 8px; /* Espacio entre los botones */
}

.edit-button, .delete-button {
    width: 30px; /* Ancho de los botones */
    height: 30px; /* Altura de los botones */
    padding: 0; /* Elimina el relleno interno de los botones */
    font-size: 10px; /* Tamaño del texto del botón */
}

/* Estilos para los iconos dentro de los botones */
.edit-button i, .delete-button i {
    font-size: 18px; /* Tamaño del icono */
    margin-right: 4px; /* Espacio a la derecha del icono */
}

.card.template {
    position: relative;
}

.button-container {
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card.template:hover .button-container {
    opacity: 1;
}