{% extends 'gentelella/base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'vendors/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Formulario</h1>


   <div class="row">
    <div class="card mb-3">
      <div class="card-body">
        <div class="card-title titles">
          <h2> Numerical questions </h2>

        </div>

          <div class="row mb-2">
    <!-- Columna de Componente -->
    <div id="component" class="col-lg-2 col-md-6 col-sm-12 border">
        <div class="card-title titles">
            <h4> Componente</h4>
        </div>
    </div>

    <!-- Columna de Contenedor -->
              <div id="contentParent" class= "col-lg-6 col-md-6 col-sm-12 border">
                  <div class="card-title titles">
            <h2> Contenedor </h2>
        </div>
                  <form action="" method="POST" class="form-components" id="form_content">
                    {% csrf_token %}
                       <div class="form-components">
                    <!-- Componentes del formulario se agregarán aquí -->

                    </div>
                      <button type="submit" class="btn btn-primary save-button">Guardar</button>
                  </form>

              </div>


    <!-- Columna de Características -->
    <div id="caract" class="caract col-lg-4 col-md-12 col-sm-12 border">
        <div class="card-title titles">
            <h2> Características </h2>
        </div>
        <!-- Contenido de la columna de Características -->
    </div>
</div>
           </div>

      </div>

  </div>


{% endblock %}

{% block js %}

<script>
  document.form_url = {};
  document.form_url.form_api = "{% url 'api' %}";
</script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
<script src="{% static 'js/widget.js' %}"></script>
<script src="{% static 'js/field_number.js' %}"></script>
{% endblock %}